.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color:bisque;
    border:2px solid green;
    border-width: 4px;
    width:50%;
    padding-top: 3px;
}
.nav_list li{
    display: inline;
    color: black;
    padding: 3rem;
}
